$def with(kilos,altura,imc1,analisis1)
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <center>
    <h1>PERIMETROS</h1>
    <form method="POST" name="formulario">
        <label>Peso en Kilogramos</label><br>
        <input type="number" name="kilos" value="$kilos"><br>
        <label>Altura en metros</label><br>
        <input type="float" name="altura" value="$altura"><br>
        <label>IMC</label><br>
        <input type="number" name="calcular" value="$imc1"><br>
        <label>Analisis</label><br>
        <input type="text" name="calcular" value="$analisis1" ><br><br>
        <button name="calcular" value="calcular">Calcular</button><br>
         
    </form>



    <a href="/">inicio</a></center>
</body>
</html>